<%- include('../../header', {
  css: [
    'https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css',
    `${base}/css/life/travel/index.css`
  ]
}); %>
<div class="page life travels index">
  <%# --- Map --- %>
  <div id="map" class="map"></div>

  <div class="ui main grid container">
    <%# --- Sticky Sidebar --- %>
    <div class="four wide tablet computer only column">
      <div class="ui travel years sticky">
        <div class="ui anchor items secondary vertical pointing menu">
          <div class="header item">Years</div>

          <%# --- Loop Years --- %>
          <% var lastYear = null;
          var i = 0;
          travels.forEach((travel) => {
            var year = moment(travels[0].from).year();
            if (year !== lastYear) { %>
              <a data-anchor="<%= year %>" class="<% if (i === 0) { %>active <% } %>item anchor item">
                <%= year %>
              </a>
              <% lastYear = year;
              i++;
            }
          }); %>
        </div>
      </div>
    </div>

    <%# --- Main --- %>
    <div class="main area sixteen wide mobile twelve wide tablet twelve wide computer stretched column">

      <% if (false) { %>
        <div class="ui mini form">
          <div class="field">
            <textarea rows="2"></textarea>
          </div>
          <div class="fields">
            <div class="ten wide field">
              <div class="ui tiny icon buttons">
                <div class="ui button">
                  <i class="camera icon"></i>
                </div>
                <div class="ui button">
                  <i class="video icon"></i>
                </div>
              </div>
            </div>
            <div class="six wide field">
              <div class="ui action input">
                <div class="ui selection dropdown">
                  <input type="hidden" name="type" value="travel">
                  <i class="dropdown icon"></i>
                  <div class="default text">Type</div>
                  <div class="menu">
                    <div class="item" data-value="travel">Travel</div>
                    <div class="item" data-value="plan">Plan</div>
                    <div class="item" data-value="move">Move Home</div>
                  </div>
                </div>
                <div class="ui tiny green submit button">Post</div>
              </div>
            </div>
          </div>
        </div>
      <% } %>

      <div class="ui travels feed">
        
        <%# --- Loop Events --- %>
        <% var lastYear = null;
        travels.forEach((travel) => {
          var year = moment(travels[0].from).year(); %>

          <%# --- Year --- %>
          <% if (year !== lastYear) {%>
            <a name="<%= year %>" class="anchor auto"></a>
            <h2 class="ui dividing header"><%= year %></h2>
          <% } 
          lastYear = year; 
          var date = travel.type === "travel" ? 
                  moment(travel.from).format("YYYY-MM-DD") : 
              travel.type === "move" ? 
                  moment(travel.date).format("YYYY-MM-DD") : 
              null; %>

          <%# --- Event --- %>
          <a name="<%= travel.name %>-<%= moment(date).format('YYYY-MM-DD') %>" class="anchor"></a>
          <div class="travel event">

            <%# --- Avatar --- %>
            <div class="label">
              <img src="<%= base %>/uploads/avatars/<%= travel.people[0].avatar %>">
            </div>
            <div class="content">
              <div class="summary">

                <%# --- User --- %>
                <a class="user">
                  <% const names = []; 
                  if (travel.people) {
                    travel.people.map((person) => {
                      names.push(person.firstName);
                    });
                  } %>
                  <%= names.join(', ') %>
                </a>

                <%# --- Verb --- %>
                <%= travel.type === 'travel' ? 
                        'traveled' : 
                    travel.type === 'move' ?
                        'moved our home' :
                    'went' %> 
                to

                <%# --- Place --- %>
                <span class="place name">
                  <a href="https://en.wikipedia.org/wiki/<%= travel.name %>,_<%= travel.country %>" target="_blank">
                    <%= travel.name %>
                  </a><%= travel.localName ? `(${travel.localName})` : '' %>
                </span>,
                <a href="https://en.wikipedia.org/wiki/<%= travel.country %>" target="_blank">
                  &nbsp;<i class="<%= travel.country.toLowerCase() %> flag"></i><%= travel.country %>
                </a>

                <%# --- Date --- %>
                <div class="date">
                  <%= moment(date).fromNow() %>
                </div>
              </div>
              
              <%# --- Information --- %>
              <% if (travel.type === 'travel') { %>
                <div class="meta">
                  <% var days = moment.duration(moment(travel.to).diff(moment(travel.from))).asDays();
                  days = days > 0 ? days : 1; %>
                  <p><i class="sun icon"></i><%= days %> days</p>
                </div>
              <% } %>

              <%# --- Contents --- %>
              <div class="extra text">
                <%= travel.content %>
              </div>
              
              <%# --- Photos --- %>
              <% if (travel.photos) { %>
                <div class="extra images">
                  <% travel.photos.forEach((photo) => { %>
                    <div class="image">
                      <img src="<%= base %>/uploads/life/travels/<%= process(photo, 'w1000', 'c1.7') %>" data-ori="<%= base %>/uploads/life/travels/<%= photo %>">
                    </div>
                  <% }); %>
                </div>
              <% } %>
              
              <%# --- Likes --- %>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> <span><%= travel.likes %></span> Likes
                </a>
              </div>
            </div>
          </div>
          <div class="ui divider"></div>
        <% }); %>
      </div>

      <%# --- Bottom Image --- %>
      <img src="<%= base %>/images/travel-bottom.png" class="ui fluid image">
    </div>
  </div>

  <%# --- Fullscreen Image --- %>
  <div class="ui large image modal">
    <i class="close icon"></i>
    <div class="content">
      <img src="" class="ui fluid image">
    </div>
  </div>
</div>

<script>
  var geojson = {
    type: 'FeatureCollection',
    features: [
      <% travels.forEach((travel) => { 
        var date = travel.type === "travel" ? 
                moment(travel.from).format("YYYY-MM-DD") : 
            travel.type === "move" ? 
                moment(travel.date).format("YYYY-MM-DD") : 
            null; %>
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [<%= travel.coordinates.join(',') %>]
          },
          properties: {
            id: '<%= travel.id %>',
            name: '<%= travel.name %>',
            anchorName: '<%= travel.name %>-<%= date %>',
            type: '<%= travel.type %>'
          }
        },
      <% }); %>
    ]
  };
</script>
<%- include('../../footer', {
  js: [
    'https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js',
    `${base}/js/life/travel/index.js`
  ]
}); %>