<%- include('../header', {
  css: [
    `${base}/css/mdc.css`
  ]
}); %>
<div class="page projects detail">
  <div class="ui main grid container">
    <div class="tablet computer only four wide column">

      <%# --- Sticky Project Information [tablet, computer] --- %>
      <div class="ui project information sticky">
        <%- include('./project-info'); %>
      </div>
    </div>

    <%# --- Header --- %>
    <div class="sixteen wide mobile twelve wide tablet twelve wide computer column">
      <a class="anchor" name="top"></a>
      <h1 class="ui dividing header"><%= project.name %></h1>
      <img src="<%= base %>/uploads/projects/<%= project.cover %>" class="ui fluid image">
      <h3><%= project.brief %></h3>
    </div>

    <%# --- Project Information [mobile] --- %>
    <div class="sixteen wide mobile only column">
      <%- include('./project-info'); %>
    </div>

    <%# --- Content --- %>
    <div class="four wide tablet computer only column"></div>
    <div class="sixteen wide mobile twelve wide tablet twelve wide computer column">
      <article class="markdown-body">
        <%- project.content %>
      </article>
    </div>
  </div>
</div>
<%- include('../footer', {
  js: [
    `${base}/js/projects/detail.js`
  ]
}); %>