<%- include('../header', {
  css: [
    `${base}/css/projects/index.css`
  ]
}); %>
<div class="page projects index">
  <div class="ui main grid container">
    <%# --- Project Types Sticky --- %>
    <div class="four wide tablet computer only column">
      <div class="ui project types sticky">
        <div class="ui anchor items secondary vertical pointing menu">
          <div class="header item">Types</div>

          <%# --- Loop Types --- %>
          <% projectTypes.forEach((projectType, i) => { %>
            <a data-anchor="<%= projectType.slug %>" class="<% if (i === 0) { %>active <% } %>item anchor item">
              <%= projectType.name %>
            </a>
          <% }); %>
        </div>
      </div>
    </div>

    <%# --- Main --- %>
    <div class="main projects area sixteen wide mobile twelve wide tablet twelve wide computer column">
      <ul class="project-list">
        <%# --- Loop Projects --- %>
        <% if (locals.user && session.editingMode) {
          projectTypes.push({
            id: 'project-type-template'
          });
        } %>
        <% projectTypes.forEach((projectType, i) => { %>
          <li>
            <%# --- Project Type --- %>
            <form data-role="<%= projectType.id === 'project-type-template' ? 'project-type-template' : 'project-type' %>"
                  data-id="<%= projectType.id %>"
                  class="ui form"
                  style="display: <%= projectType.id === 'project-type-template' ? 'none' : 'block' %>">
              <a class="anchor auto" name="<%= projectType.slug %>"></a>
              <h2 class="ui dividing header" >
                
                <%# --- Editing Mode --- %>
                <% if (locals.user && session.editingMode) { %>

                  <span style="display: flex;">
                    <%# --- Icon --- %>
                    <div data-param="icon">
                      <i class="<%= projectType.icon %> icon btn-change-type-icon" 
                        data-icon="<%= projectType.icon %>"
                        style="cursor: pointer"></i>
                      <div class="ui custom change-icon popup bottom left transition hidden">
                        <div class="field">
                          <input type="text" name="icon-name" value="<%= projectType.icon %>" placeholder="Icon Name">
                        </div>
                        <a href="https://semantic-ui.com/elements/icon.html" target="_blank">Show all icons</a>
                      </div>
                    </div>
        
                    <%# --- Title --- %>
                    <input type="text" class="inline-editing" style="flex-grow: 1;" name="type-name" data-param="name" value="<%= projectType.name %>" tabindex="<%= i * 4 + 1 %>" placeholder="Type Name">
        
                    <button class="mini right floated ui icon button btn-edit-project-type" tabindex="<%= i * 4 + 3 %>" type="button">
                      <i class="save icon"></i>
                    </button>
                    <div class="mini right floated ui icon button btn-sort-project-type">
                      <i class="sort icon"></i>
                    </div>
                    <button class="mini right floated ui icon button btn-delete-project-type" tabindex="<%= i * 4 + 4 %>" type="button">
                      <i class="trash alternate icon"></i>
                    </button>
                    
                  </span>

                  <%# --- Subtitle --- %>
                  <div class="sub header"><input type="text" class="inline-editing" style="width: 100%;" name="type-subtitle" data-param="subtitle" value="<%= projectType.subtitle %>" tabindex="<%= i * 4 + 2 %>" placeholder="Subtitle"></div>
                  <div class="sub header">
                    <div class="inline fields" style="font-size: 0.7rem; padding-left: 6px; margin: 0;">
                      <div class="ten wide field">
                        <label style="margin-right: 3px;">Slug:</label>
                        <input type="text" class="inline-editing sm" name="type-slug" data-param="slug" value="<%= projectType.slug %>" tabindex="-1" placeholder="Slug">
                      </div>
                      <div class="six wide field">
                        <label style="margin-right: 3px;">Type:</label>
                        <div data-name="type-experience-type" data-param="experienceType" class="ui inline dropdown">
                          <input type="hidden" name="type-experience-type" value="<%= projectType.type %>">
                          <div class="text"><%= projectType.experienceType === 'working-experience' ? 'Working Experience' : projectType.experienceType === 'education-degree' ? 'Education Degree' : projectType.experienceType === 'personal-project' ? 'Personal Project' : projectType.experienceType === 'other' ? 'Other' : 'Experience Type' %></div>
                          <i class="dropdown icon"></i>
                          <div class="menu">
                            <div class="item<%= projectType.experienceType === 'working-experience' ? ' active' : '' %>" data-text="Working Experience" data-value="working-experience">Working Experience</div>
                            <div class="item<%= projectType.experienceType === 'education-degree' ? ' active' : '' %>" data-text="Education Degree" data-value="education-degree">Education Degree</div>
                            <div class="item<%= projectType.experienceType === 'personal-project' ? ' active' : '' %>" data-text="Personal Project" data-value="personal-project">Personal Project</div>
                            <div class="item<%= projectType.experienceType === 'other' ? ' active' : '' %>" data-text="Other" data-value="other">Other</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% } else { %>

                  <span>
                    <i class="<%= projectType.icon %> icon"></i>
                    <%= projectType.name %>
                  </span>
                  <div class="sub header"><%= projectType.subtitle %></div>
                <% } %>
              </h2>

              <%- include('../error-message') %>

              <div class="ui projects items">

                <%# --- Loop Projects --- %>
                <% projectType.projects = projectType.projects ? projectType.projects : []; %>
                <% projectType.projects.forEach((project) => { 
                  if (project.isDraft && !locals.user) return;
                  %>
                  <div class="project item">

                    <%# --- Image --- %>
                    <a href="<%= base %>/projects/<%= project.slug %>" class="image">
                      <img src="<%= base %>/<%= process(project.cover, 'w500', 'c1.77') %>" alt="<%= project.name %>">
                    </a>
                    <div class="content">

                      <%# --- Name --- %>
                      <a href="<%= base %>/projects/<%= project.slug %>" class="header">
                        <%= project.name %>
                      </a>
                      <% if (project.isDraft) { %>
                        <span style="color: #666; font-size: 1rem;">(Draft)</span>
                      <% } %>

                      <%# --- Label --- %>
                      <% if (project.label) { %>
                        <a class="ui right floated mini blue basic label"><%= project.label %></a>
                      <% } %>

                      <%# --- Responsibilities --- %>
                      <div class="meta">
                        <span><%= project.responsibilities.join(' / ') %></span>
                      </div>

                      <%# --- Brief --- %>
                      <div class="description">
                        <p><%= project.brief %></p>
                      </div>

                      <%# --- Technologies --- %>
                      <% if (Array.isArray(project.technologies) && project.technologies.length > 0) { %>
                        <div class="extra">
                          <% project.technologies.forEach((technology) => { %><div class="ui mini label"><%= technology %></div><% }); %>
                        </div>
                      <% } %>
                    </div>
                  </div>
                <% }); %>

                <% if (locals.user && session.editingMode) { %>
                  <div>
                    <a href="<%= base %>/projects/<%= projectType.slug %>/new-project" class="fluid ui button btn-add-project">
                      <i class="icon plus"></i>
                      Add a Project
                    </a>
                  </div>
                <% } %>
              </div>
            </form>
          </li>
        <% }); %>
      </ul>

      <%# --- [Admin] Add New Project Type --- %>
      <% if (locals.user && session.editingMode) { %>
        <form class="ui form">
          <h2 class="ui dividing header" style="margin-top: 1.8rem;">
            <span style="display: flex;">
              <%# --- Icon --- %>
              <div data-param="icon">
                <i class="folder open icon btn-change-type-icon" data-icon="" style="cursor: pointer"></i>
                <div class="ui custom change-icon popup bottom left transition hidden">
                  <div class="field">
                    <input type="text" name="icon-name" value="" placeholder="Icon Name">
                  </div>
                  <a href="https://semantic-ui.com/elements/icon.html" target="_blank">Show all icons</a>
                </div>
              </div>

              <%# --- Title --- %>
              <input type="text" class="inline-editing new-type-name" style="flex-grow: 1;" name="type-name" data-param="name" value="" tabindex="<%= projectTypes.length * 4 + 1 %>" placeholder="Type Name">

              <button class="mini right floated ui icon button btn-add-project-type" tabindex="<%= projectTypes.length * 4 + 3 %>" type="button">
                <i class="plus icon"></i>
              </button>
            </span>

            <%# --- Subtitle --- %>
            <div class="sub header"><input type="text" class="inline-editing" style="width: 100%;" name="type-subtitle" data-param="subtitle" value="" tabindex="<%= projectTypes.length * 4 + 2 %>" placeholder="Subtitle"></div>
            <div class="sub header">
              <div class="inline fields" style="font-size: 0.7rem; padding-left: 6px; margin: 0;">
                  <div class="ten wide field">
                    <label style="margin-right: 3px;">Slug:</label>
                    <input type="text" class="inline-editing sm" name="type-slug" data-param="slug" value="" tabindex="-1" placeholder="Slug">
                  </div>
                  <div class="six wide field">
                    <label style="margin-right: 3px;">Type:</label>
                    <div data-name="type-experience-type" data-param="experienceType" class="ui inline dropdown">
                      <input type="hidden" name="type-experience-type" value="">
                      <div class="text">Experience Type</div>
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        <div class="item" data-text="Working Experience" data-value="working-experience">Working Experience</div>
                        <div class="item" data-text="Education Degree" data-value="education-degree">Education Degree</div>
                        <div class="item" data-text="Personal Project" data-value="personal-project">Personal Project</div>
                        <div class="item" data-text="Other" data-value="other">Other</div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </h2>

          <%- include('../error-message') %>
        </form>
      <%} %>

      <%# --- Bottom Image --- %>
      <img alt="Just a Decoration" src="<%= base %>/images/project-bottom.png" class="ui fluid image">
    </div>
  </div>
</div>
<%- include('../footer', {
  js: [
    `${base}/js/projects/index.js`
  ]
}); %>