<%- include('../header', {
  css: [
    `${base}/css/projects/detail.css`,
    `${base}/css/mdc.css`
  ]
}); %>
<div class="ui main grid container">
  <div class="four wide column">

    <%# --- Sticky Project Information --- %>
    <div class="ui project-info sticky">
      <div class="ui segments">
        <div class="ui segment">
          <p>Project Information</p>
        </div>
        <div class="ui secondary segment">
          <div class="ui list">

            <%# --- Lable --- %>
            <div class="item">
              <i class="tag icon"></i>
              <div class="content">
                <%= project.lable %>
              </div>
            </div>

            <%# --- Responsibilities --- %>
            <div class="item">
              <i class="crop icon"></i>
              <div class="content">
                <%= project.responsibilities.join(', ') %>
              </div>
            </div>

            <%# --- Time --- %>
            <div class="item">
              <i class="calendar icon"></i>
              <div class="content">
                <%= project.from.month %>/<%= project.from.year %> - <%= project.to.month %>/<%= project.to.year %>
              </div>
            </div>

            <%# --- Technologies --- %>
            <div class="item">
              <i class="code icon"></i>
              <div class="content">
                <%= project.technologies.join(', ') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# --- Main --- %>
  <div class="main area detail twelve wide stretched column">

    <%# --- Header --- %>
    <a class="anchor" name="top"></a>
    <h1 class="ui dividing header"><%= project.name %></h1>
    <img src="<%= base %>/uploads/projects/<%= project.cover %>" class="ui fluid image">
    <h3><%= project.brief %></h3>

    <%# --- Content --- %>
    <article class="markdown-body">
      <%- project.content %>
    </article>
  </div>
</div>
<%- include('../footer', {
  js: [
    `${base}/js/projects/detail.js`
  ]
}); %>