<%- include('header', {
  css: [
    `${base}/css/index.css`
  ]
}); %>
<div class="page index">
  <form class="ui form">
    <div class="ui main grid container">
      <%# --- Photo Card --- %>
      <div class="sixteen wide mobile five wide tablet five wide computer column">
        <div class="ui card">

          <%# --- Photo --- %>
          <div class="image">
            <img alt="Yingchen Liu" src="<%= base %>/images/me.png">
          </div>
          <div class="content">

            <%# --- Name --- %>
            <div class="header">Yingchen Liu</div>
            <div class="meta">
              <i class="china flag" title="China"></i> 刘盈琛
            </div>

            <%# --- Description --- %>
            <div class="description">
              He is a Geek living in Melbourne, AU.
            </div>
          </div>

          <%# --- Extra Information --- %>
          <div class="extra content">
            <a>
              <i class="birthday icon"></i>
              25 years old
            </a>
          </div>

          <% if (locals.user && session.editingMode) { %>
            <div class="extra content right aligned">
              <button class="ui button btn-save" type="button">
                <i class="save icon"></i> Save Changes
              </button>
            </div>
          <% } %>
        </div>
      </div>

      <%# --- Introduction --- %>
      <div class="sixteen wide mobile eleven wide tablet eleven wide computer column introduction">
        <h1 class="ui dividing header">
          <span><i class="id card icon"></i>Introduction</span>
          <span class="sub header">简单的介绍</span>
        </h1>

        <% if (locals.user && session.editingMode) { %>
          <div id="introduction-editor" style="border-radius: 5px;">
            <textarea style="display: none;"><%- index.introduction %></textarea>
          </div>
        <% } else { %>
          <textarea id="introduction-content" style="display: none;"><%- index.introduction %></textarea>
          <article id="introduction-body" class="markdown-body">
            
          </article>
        <% } %>
      </div>

      <%# --- Featured Project --- %>
      <% if (locals.user && session.editingMode) { %>
        <div class="sixteen wide computer only column">
          <div class="inline fields" style="margin: 0">
            <div class="eight wide field">
              <label>Featured project:</label>
              <div data-param="featuredProject" class="ui labeled icon top left pointing scrolling dropdown">
                <input type="hidden" name="featured-project" value="<%= index.featuredProject %>">
                <i class="filter icon"></i>
                <span class="text">Featured Project</span>
                <div class="menu">
                  <div class="ui search icon input">
                    <i class="search icon"></i>
                    <input type="text" name="search" placeholder="Search projects...">
                  </div>
                  <% projectTypes.forEach((projectType, i) => { %>
                    <div class="divider"></div>
                    <div class="header">
                      <i class="<%= projectType.icon %> icon"></i>
                      <%= projectType.name %>
                    </div>
                    <% projectType.projects = projectType.projects ? projectType.projects : []; %>
                    <% projectType.projects.forEach((project) => { %>
                      <div class="item" data-value="<%= project.id %>" 
                        data-project-cover="<%= project.cover %>" 
                        data-project-slug="<%= project.slug %>"
                        data-featured-project-banner="<%= project.featuredProjectBanner %>"
                        data-featured-project-show-original-cover="<%= project.featuredProjectShowOriginalCover %>"
                        data-featured-project-text-color="<%= project.featuredProjectTextColor %>">
                        <%= project.name %>
                      </div>
                    <% }); %>
                  <% }); %>
                </div>
              </div>
            </div>
            <div class="four wide field">
              <label>Color:</label>
              <input name="featured-project-text-color" class="inline-editing" data-param="featuredProjectTextColor" type="text" value="<%= index.featuredProjectTextColor %>" placeholder="#ffffff">
            </div>
            <div class="four wide field" style="padding-right: 0;">
              <div class="ui toggle checkbox-featured-project-show-original-cover<%= locals.featuredProject && featuredProject.featuredProjectShowOriginalCover ? ' checked' : '' %> checkbox">
                <input type="checkbox" name="featured-project-show-original-cover"<%= locals.featuredProject && featuredProject.featuredProjectShowOriginalCover ? ' checked' : '' %>>
                <label>Show original cover</label>
              </div>
            </div>
          </div>
        </div>
      <% } %>

      <% if ((!locals.featuredProject && locals.user && session.editingMode) || locals.featuredProject) { %>
        <div class="mobile tablet only sixteen wide column">
          <div class="ui divider"></div>
          <h3 class="featured-project-name ui center aligned header"><%= locals.featuredProject ? featuredProject.name : 'No Featured Project' %></h3>
          <a class="featured-project-link ui image" style="<%= !locals.featuredProject ? 'display: flex' : '' %>" 
            href="<%= base %>/projects/<%= locals.featuredProject ? featuredProject.slug : '' %>">
            <img class="featured-project-cover" src="<%= base %>/<%= locals.featuredProject ? process(featuredProject.cover, 'w1500', 'c3.5') : '' %>">
          </a>
        </div>
        <div class="computer only sixteen wide column featured project">
          <% if (locals.user && session.editingMode) { %>
            <img id="featured-project-banner-dropzone" class="featured-project-cover" 
              data-original-cover-src="<%= locals.featuredProject ? `${base}/${process(featuredProject.cover, 'w1500', 'c3.5')}` : '' %>"
              data-banner-src="<%= locals.featuredProject && featuredProject.featuredProjectBanner ? `${base}/${featuredProject.featuredProjectBanner}` : '' %>"
              src="<%= locals.featuredProject ? `${base}/${featuredProject.featuredProjectBanner && !featuredProject.featuredProjectShowOriginalCover ? featuredProject.featuredProjectBanner : process(featuredProject.cover, 'w1500', 'c3.5')}` : '' %>">
            <div class="overlay" style="color: <%= featuredProject.featuredProjectTextColor ? featuredProject.featuredProjectTextColor : '#ffffff' %>;">
              <h2 class="featured-project-name"><%= locals.featuredProject ? featuredProject.name : 'No Featured Project' %></h2>
              Click to view this featured project
            </div>
            <input type="hidden" name="featured-project-banner" value="<%= locals.featuredProject ? featuredProject.featuredProjectBanner : '' %>">
          <% } else { %>
            <a class="featured-project-link ui image" style="<%= !locals.featuredProject ? 'display: flex' : '' %>" 
               href="<%= locals.featuredProject ? `${base}/projects/${featuredProject.slug}` : '' %>">
               <img id="featured-project-banner-dropzone" class="featured-project-cover" 
                src="<%= locals.featuredProject ? `${base}/${featuredProject.featuredProjectBanner && !featuredProject.featuredProjectShowOriginalCover ? featuredProject.featuredProjectBanner : process(featuredProject.cover, 'w1500', 'c3.5')}` : '' %>">
              <div class="overlay" style="color: <%= featuredProject.featuredProjectTextColor ? featuredProject.featuredProjectTextColor : '#ffffff' %>;">
                <h2 class="featured-project-name"><%= locals.featuredProject ? featuredProject.name : 'No Featured Project' %></h2>
                Click to view this featured project
              </div>
            </a>
          <% } %>
        </div>
      <% } %>
    </div>
  </form>

  
  <%# --- Skills --- %>
  <% skillTypes.forEach((skillType) => { %>
    <%# --- Skill Type --- %>
    <div class="ui main grid container">
      <div class="sixteen wide column">
        <% if (locals.user && session.editingMode) { %>
          <form class="ui form">
            <h3 class="ui center aligned icon header" style="text-align: center;">
              <div data-param="icon" style="margin: auto; width: 4em; border-radius: 5px;">
                <i class="circular folder open icon btn-change-type-icon" data-icon="" style="cursor: pointer;"></i>
                <div class="ui custom change-icon popup bottom left transition hidden">
                  <div class="field">
                    <input type="text" name="icon-name" value="" placeholder="Icon Name">
                  </div>
                  <a href="https://semantic-ui.com/elements/icon.html" target="_blank">Show all icons</a>
                </div>
              </div>

              <input name="new-skill-type-name" data-param="name" class="inline-editing" 
                value="<%= skillType.name %>" style="width: 400px; text-align: center;" placeholder="Type Name">
              <div>
                <input name="new-skill-type-subtitle" data-param="subtitle" class="inline-editing" 
                  value="<%= skillType.subtitle %>" style="width: 600px; text-align: center; font-size: 1rem;" placeholder="Type Description">
              </div>
            </h3>
            <div style="text-align: center;">
              <button class="mini ui icon button btn-save-skill-type" type="button">
                <i class="save icon"></i>
              </button>
              <button class="mini ui icon button btn-delete-skill-type" type="button">
                <i class="trash alternate icon"></i>
              </button>
            </div>
          </form>
        <% } else { %>
          <h3 class="ui center aligned icon header">
            <i class="circular <%= skillType.icon %> icon"></i>
            <span style="text-transform: capitalize;"><%= skillType.name %></span>
            <span class="sub header"><%= skillType.subtitle %></span>
          </h3>
        <% } %>
      </div>

      <%# --- Skill Items --- %>
      <div class="two wide computer only column"></div>
      <div class="sixteen wide mobile sixteen wide tablet thirteen wide computer column">
        <div class="ui grid content skill-list">
          <% 
          if (locals.user && session.editingMode) {
            skillType.skills.push({
              id: 'skill-template'
            });
          } %>
          <% skillType.skills.forEach((skill) => { %>
            <% if (locals.user && session.editingMode) { %>

              <%# --- For Mobile --- %>
              <div class="eight wide mobile four wide tablet only column<%= skill.id === 'skill-template' ? ' skill-template' : '' %>" style="display: <%= skill.id === 'skill-template' ? 'none' : 'block' %>;">
                <div class="ui large list">
                  <div class="item">
                    <img class="ui avatar image" alt="<%= skill.name %>" src="<%= base %>/<%= skill.icon %>">
                    <div class="content">
                      <div data-param="name">
                        <% if (skill.website) { %>
                          <a href="<%= skill.website %>" class="header" target="_blank"><%= skill.name %></a>
                        <% } else { %>
                          <span class="header"><%= skill.name %></span>
                        <% } %>
                      </div>
                      <div data-param="fluency"><%= skill.fluency %></div>
                    </div>
                  </div>
                </div>
              </div>

              <%# --- For Desktop --- %>
              <div class="skill-item four wide computer only column<%= skill.id === 'skill-template' ? ' skill-template' : '' %>" style="display: <%= skill.id === 'skill-template' ? 'none' : 'block' %>;">
                <form class="ui form">
                  <input type="hidden" name="id" value="<%= skill.id %>">
                  <div class="ui large list">
                    <div class="item">
                      <div data-param="icon" style="cursor: pointer; display: inline-block; background-color: transparent; margin: 0; vertical-align: top;">
                        <img class="ui avatar image skill-icon-dropzone" style="width: 32px; height: 32px; margin: 0;" src='<%= base %>/<%= skill.icon %>'>
                        <input type="hidden" name="icon" value="<%= skill.icon %>">
                      </div>
                      <div class="content" style="display: inline-block; padding: 0; padding-left: calc(0.5em - 5px); width: calc(100% - 37px); vertical-align: top; line-height: 1.14285714em;">
                        <div style="display: flex;">
                          <input class="inline-editing" data-param="name" name="name" value="<%= skill.name %>" placeholder="Skill">
                          <div class="mini right floated ui icon button inline-editing btn-sort-skill" style="padding-top: 5px; padding-left: 5px;">
                            <i class="sort icon"></i>
                          </div>
                          <button class="ui button inline-editing btn-delete-skill" type="button">
                            <i class="trash alternate icon"></i>
                          </button>
                        </div>
                        <div style="display: flex; font-size: 0.8rem; line-height: 0.8rem;">
                          <div>
                            <input class="inline-editing" data-param="fluency" name="fluency" value="<%= skill.fluency %>" placeholder="Fluency">
                            <input class="inline-editing" data-param="website" name="link" value="<%= skill.website %>" placeholder="Link">
                          </div>
                          <button class="ui button btn-save-skill inline-editing" type="button">
                            <i class="save icon"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            <% } else { %>
              <div class="eight wide mobile four wide tablet four wide computer column">
                <div class="ui large list">
                  <div class="item">
                    <img class="ui avatar image" alt="<%= skill.name %>" src="<%= base %>/<%= skill.icon %>">
                    <div class="content">
                      <% if (skill.website) { %>
                        <a href="<%= skill.website %>" class="header" target="_blank"><%= skill.name %></a>
                      <% } else { %>
                        <span class="header"><%= skill.name %></span>
                      <% } %>
                      <div><%= skill.fluency %></div>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          <% }); %>

          <% if (locals.user && session.editingMode) { %>
            <div class="four wide computer only column">
              <form class="ui form">
                <input type="hidden" name="type" value="<%= skillType.id %>">
                <div class="ui large list" style="margin-top: 1rem;">
                  <div class="item">
                    <div data-param="icon" style="cursor: pointer; display: inline-block; background-color: transparent; margin: 0; vertical-align: top;">
                      <img class="ui avatar image skill-icon-dropzone" style="width: 32px; height: 32px; margin: 0;" 
                        src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB/0lEQVRYhe3Uy04UYRAF4K8HFBBHHOIlYqILExMNJvoOPDYPYdx4XagxxgtiJIMjMNAuqhrbobtnggs3c5JO+r9VnTp1YY455vjPKKqfra2t89pYwDpWcIwRdqc92t7eBovn9ZoosIEBLiaBw7T7ZRYD/0JgCY9F5KN0vohlXMdtPMv9VvTO6XwFT/L9HsYocSIU2EMfD6cZmpVAleflXN8X0R6o1VENBYa4hjtdhmdJwToeJIkjfM//UYvzOol9kY4PQp0zmKZAH4/S8VDIO5jhXYVjUSurbRemKXBT5HbsT7SHMzqvUKSNRnRFcgGXtOe5wsUp5yXW2g6bFChEkQ3y8VGLgyLf7+Tdtnb7hbu4hXf4Wj9sUmAzL487nJcir+/xWgydvmapiySxIOrpRheBDdE6e2mszfkaPuFj7r3N/y4SY1HI93ClicBAFN3PFscVlvACLyf2XyWR5ckHNYxF2q42EbicxrtGZ08U5aHo74poket9IXdbcVcdcRpgvQiPxLDoapvqfDOj2U3CVeEuCpkbh07a/YtcfbGT32oHgQqj/MqGvTaUomUP8K2JwFjk8Icopp6IrOurY9rdlSTwXKiEs3PgBE+FnH3ROk1q9JzNc7U3eb9K6RBvRJ2comkQlaK/18U0bCNwXDsr8TkJT+a/yLvDSedzzDEH/AYLqHgKIyvGVwAAAABJRU5ErkJggg=='>
                      <input type="hidden" name="icon">
                    </div>
                    <div class="content" style="display: inline-block; padding: 0; padding-left: calc(0.5em - 5px); width: calc(100% - 37px); vertical-align: top; line-height: 1.14285714em;">
                      <div>
                        <input class="inline-editing" data-param="name" name="name" placeholder="Skill">
                      </div>
                      <div style="display: flex; font-size: 0.8rem; line-height: 0.8rem;">
                        <div>
                          <input class="inline-editing" data-param="fluency" name="fluency" placeholder="Fluency">
                          <input class="inline-editing" data-param="website" name="link" placeholder="Link">
                        </div>
                        <button class="ui button inline-editing btn-add-skill" type="button">
                          <i class="add icon"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  <% }); %>

  <% if (locals.user && session.editingMode) { %>
    <form class="ui form">
      <div class="ui main grid container">
        <div class="sixteen wide column">
          <h3 class="ui center aligned icon header" style="text-align: center;">
            <div data-param="icon" style="margin: auto; width: 4em; border-radius: 5px;">
              <i class="circular folder open icon btn-change-type-icon" data-icon="" style="cursor: pointer;"></i>
              <div class="ui custom change-icon popup bottom left transition hidden">
                <div class="field">
                  <input type="text" name="icon-name" value="" placeholder="Icon Name">
                </div>
                <a href="https://semantic-ui.com/elements/icon.html" target="_blank">Show all icons</a>
              </div>
            </div>

            <input name="new-skill-type-name" data-param="name" class="inline-editing" style="width: 400px; text-align: center;" placeholder="Type Name">
            <div>
              <input name="new-skill-type-subtitle" data-param="subtitle" class="inline-editing" style="width: 600px; text-align: center; font-size: 1rem;" placeholder="Type Description">
            </div>
          </h3>
          <div style="text-align: center;">
            <button type="button" class="ui icon button btn-add-skill-type">
              <i class="icon plus"></i>
              Add a Skill Type
            </button>
          </div>
        </div>
      </div>
    </form>
  <% } %>

  <div class="ui main grid container">
    <%# --- Bottom Image --- %>
    <div class="sixteen wide column">
      <img alt="Just a Decoration" src="<%= base %>/images/index-bottom.png" class="ui fluid image">
    </div>
  </div>
</div>
<%- include('footer', {
  js: [
    `${base}/js/markdown.js`,
    `${base}/js/index.js`
  ]
}); %>